**Customer Segmentation**

Importing important Python libraries for performing further operations

In [ ]:
import pandas as pd
import numpy as np

Imported the csv files

In [ ]:
df = pd.read_csv("/content/customers-data - customers-data.csv")
df.head()

   customer_id  products_purchased  complains  money_spent
0      1000661                   1          0        260.0
1      1001914                   1          0        790.2
2      1002167                   3          0        234.2
3      1002387                   1          0        890.0
4      1002419                   2          0        103.0

In [ ]:
df.info();

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24000 entries, 0 to 23999
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customer_id         24000 non-null  int64
 1   products_purchased  24000 non-null  int64
 2   complains           24000 non-null  int64
 3   money_spent         24000 non-null  float64
dtypes: float64(1), int64(3)
memory usage: 750.1 KB

Data Cleaning will take part,
Data cleaning is an essential task in data science that involves identifying and correcting errors, inconsistencies, and missing values in datasets. It ensures data quality and reliability for accurate analysis and modeling. Techniques include handling missing data, removing duplicates, correcting errors, and standardizing formats, improving the integrity of the data.

In [ ]:
df.drop_duplicates(inplace = True)

In [ ]:
df.duplicated().sum()

0

In [ ]:
df.dropna(inplace = True)

In [ ]:
df = df.head(1000)
df.to_csv("/content/customers-data - customers-data.csv", index=False)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26 entries, 0 to 996
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customer_id         26 non-null     int64
 1   products_purchased  26 non-null     int64
 2   complains           26 non-null     int64
 3   money_spent         26 non-null     float64
dtypes: float64(1), int64(3)
memory usage: 1.0 KB

Taking another csv files

In [ ]:
df1 = pd.read_csv("/content/customers.csv")
df.head()

   customer_id  products_purchased  complains  money_spent
0      1000661                   1          0        260.0
1      1001914                   1          0        790.2
2      1002167                   3          0        234.2
3      1002387                   1          0        890.0
4      1002419                   2          0        103.0

data cleaning for df1

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   first_name   1000 non-null   object
 1   last_name    1000 non-null   object
 2   email        1000 non-null   object
 3   phone        1000 non-null   object
 4   address      1000 non-null   object
 5   gender       1000 non-null   object
 6   age          1000 non-null   int64
 7   registered   1000 non-null   object
 8   orders       1000 non-null   int64
 9   spent        1000 non-null   float64
 10  job          1000 non-null   object
 11  hobbies      1000 non-null   object
 12  is_married   1000 non-null   bool
 13  customer_id  1000 non-null   int64
dtypes: bool(1), float64(1), int64(3), object(9)
memory usage: 102.7+ KB

In [ ]:
df1.drop_duplicates()

,first_name,last_name,email,phone,address,gender,age,registered,orders,spent,job,hobbies,is_married,customer_id
0,Joseph,Rice,josephrice131@slingacademy.com,+1-800-040-3135x6208,"91773 Miller Shoal\nDiaztown, FL 38841",male,43,05-05-2019,7,568.29,Artist,Playing sports,False,1000661
1,Gary,Moore,garymoore386@slingacademy.com,221.945.4191x8872,"6450 John Lodge\nTerriton, KY 95945",male,71,20-05-2020,11,568.92,Artist,Swimming,True,1001914
2,John,Walker,johnwalker944@slingacademy.com,388-142-4883x5370,"27265 Murray Island\nKevinfort, PA 63231",male,44,04-04-2020,11,497.12,Clerk,Painting,False,1002167
3,Eric,Carter,ericcarter176@slingacademy.com,(451)259-5402,USNS Knight\nFPO AA 76532,male,38,30-01-2019,17,834.60,Butcher,Playing musical instruments,False,1002387
4,William,Jackson,williamjackson427@slingacademy.com,625.626.9133x374,"170 Jackson Loaf\nKristenland, AS 48876",male,58,01-07-2022,14,151.59,Engineer,Reading,False,1002419
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Alexis,Williams,alexiswilliams395@slingacademy.com,(659)856-5718x2171,76824 Richards Extensions Suite 123\nDenisevie...,female,34,16-07-2019,4,351.18,Firefighter,Sewing,False,1000661
996,Karen,Mendez,karenmendez129@slingacademy.com,339203729,"48875 Brown Street\nEast Michelleburgh, KS 22960",female,35,30-01-2020,2,45.27,Janitor,Baking,False,1001915
997,Michaela,Smith,michaelasmith815@slingacademy.com,+1-106-147-6378x3133,"576 Little Lights Suite 465\nSouth Johnny, PR ...",female,23,22-02-2019,9,381.57,Chef,Drawing,True,1002165
998,Kathleen,Scott,kathleenscott395@slingacademy.com,(788)465-5647x419,5655 Gross Prairie Suite 656\nWest Jenniferbur...,female,72,23-05-2019,8,855.10,Clerk,Meditation,True,1002387
999,Carl,Acosta,carlacosta740@slingacademy.com,+1-183-389-0336x962,Unit 2581 Box 3388\nDPO AA 71544,male,50,27-01-2020,20,456.16,Teacher,Hiking,False,1002411

In [ ]:
df1.duplicated().sum()

0

Merging of df & df1

In [ ]:
merged_df = pd.concat([df1, df], axis=1)

In [ ]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   first_name          1000 non-null   object
 1   last_name           1000 non-null   object
 2   email               1000 non-null   object
 3   phone               1000 non-null   object
 4   address             1000 non-null   object
 5   gender              1000 non-null   object
 6   age                 1000 non-null   int64
 7   registered          1000 non-null   object
 8   orders              1000 non-null   int64
 9   spent               1000 non-null   float64
 10  job                 1000 non-null   object
 11  hobbies             1000 non-null   object
 12  is_married          1000 non-null   bool
 13  customer_id         1000 non-null   int64
 14  customer_id         26 non-null     float64
 15  products_purchased  26 non-null     float64
 16  complains           26 non-null     float64
 17  money_spent         26 non-null     float64
dtypes: bool(1), float64(5), int64(3), object(9)
memory usage: 133.9+ KB

In [ ]:
merged_df.isnull().sum()

first_name              0
last_name               0
email                   0
phone                   0
address                 0
gender                  0
age                     0
registered              0
orders                  0
spent                   0
job                     0
hobbies                 0
is_married              0
customer_id             0
customer_id           974
products_purchased    974
complains             974
money_spent           974
dtype: int64

In [ ]:
merged_df.dropna()

,first_name,last_name,email,phone,address,gender,age,registered,orders,spent,job,hobbies,is_married,customer_id,customer_id,products_purchased,complains,money_spent
0,Joseph,Rice,josephrice131@slingacademy.com,+1-800-040-3135x6208,"91773 Miller Shoal\nDiaztown, FL 38841",male,43,05-05-2019,7,568.29,Artist,Playing sports,False,1000661,1000661.0,1.0,0.0,260.0
1,Gary,Moore,garymoore386@slingacademy.com,221.945.4191x8872,"6450 John Lodge\nTerriton, KY 95945",male,71,20-05-2020,11,568.92,Artist,Swimming,True,1001914,1001914.0,1.0,0.0,790.2
2,John,Walker,johnwalker944@slingacademy.com,388-142-4883x5370,"27265 Murray Island\nKevinfort, PA 63231",male,44,04-04-2020,11,497.12,Clerk,Painting,False,1002167,1002167.0,3.0,0.0,234.2
3,Eric,Carter,ericcarter176@slingacademy.com,(451)259-5402,USNS Knight\nFPO AA 76532,male,38,30-01-2019,17,834.60,Butcher,Playing musical instruments,False,1002387,1002387.0,1.0,0.0,890.0
4,William,Jackson,williamjackson427@slingacademy.com,625.626.9133x374,"170 Jackson Loaf\nKristenland, AS 48876",male,58,01-07-2022,14,151.59,Engineer,Reading,False,1002419,1002419.0,2.0,0.0,103.0
5,Nicole,Jones,nicolejones228@slingacademy.com,1783534757,"14354 Baker Harbor Apt. 017\nEricville, HI 11192",female,33,07-08-2021,19,33.17,Unemployed,Running,True,1000660,1000660.0,1.0,0.0,261.0
6,David,Davis,daviddavis980@slingacademy.com,067.435.8553x692,"021 Katherine Mall\nJameston, DC 24685",male,59,16-06-2022,9,970.96,Doctor,Playing sports,False,1001913,1001913.0,1.0,0.0,791.2
7,Jason,Montgomery,jasonmontgomery889@slingacademy.com,001-208-220-1519,"14657 Scott Loop Apt. 735\nPort Ashley, NH 34470",male,58,13-11-2021,12,676.20,Waitress,Collecting,False,1002166,1002166.0,3.0,0.0,232.2
8,Kent,Weaver,kentweaver695@slingacademy.com,(000)101-6979x011,"6644 Mitchell Burg\nVictorhaven, KS 66356",male,61,11-06-2023,1,674.37,Clerk,Hiking,False,1002388,1002388.0,1.0,0.0,891.0
9,Darrell,Dillon,darrelldillon573@slingacademy.com,(156)423-0600x52870,"PSC 7267, Box 9911\nAPO AE 49343",male,50,13-09-2022,12,750.72,Dentist,Watching movies,False,1002410,1002410.0,2.0,0.0,102.0
10,Jacqueline,Wang,jacquelinewang322@slingacademy.com,691-557-6502,"16963 Stewart Curve Suite 279\nSouth Cameron, ...",female,22,08-02-2023,12,962.47,Housewife,Collecting,False,1000660,1000660.0,1.0,0.0,260.0
11,Jodi,Gonzalez,jodigonzalez185@slingacademy.com,137.205.7066,"378 Johnson Oval\nSouth Stacie, RI 76332",female,69,25-06-2021,12,68.67,Baker,Photography,False,1001913,1001913.0,1.0,0.0,790.2
12,Omar,Martin,omarmartin769@slingacademy.com,199081228,Unit 9103 Box 4771\nDPO AA 16592,male,28,28-05-2023,3,162.58,Doctor,Gardening,True,1002164,1002164.0,3.0,0.0,238.2
13,Nicole,Lara,nicolelara473@slingacademy.com,160-139-7065,"9822 Lisa Courts\nJohnhaven, IL 80438",female,77,03-03-2023,17,309.81,Janitor,Hiking,True,1002380,1002380.0,1.0,0.0,892.0
14,Jason,Brown,jasonbrown753@slingacademy.com,+1-449-094-1105x03038,"7310 Romero Summit\nEast Scotttown, DC 53183",male,63,05-12-2022,13,763.27,Lawyer,Fishing,True,1002411,1002411.0,2.0,0.0,105.0
15,David,Benson,davidbenson257@slingacademy.com,3037692300,"444 Derek Summit\nLisaborough, WA 20685",male,61,15-04-2022,17,111.11,Lawyer,Meditation,True,1000661,1000661.0,1.0,0.0,263.0
16,Kimberly,Mora,kimberlymora513@slingacademy.com,178967409,"7679 Perry Square\nWest Amybury, RI 15144",female,34,19-05-2019,10,208.46,Farmer,Collecting,False,1001915,1001915.0,1.0,0.0,799.2
17,Erik,Macias,erikmacias904@slingacademy.com,135-367-2526x9925,"568 Christopher Tunnel\nToddburgh, DE 86966",male,25,18-04-2020,8,439.53,Accountant,Fishing,False,1002165,1002165.0,3.0,0.0,235.2
18,James,Johnson,jamesjohnson681@slingacademy.com,(303)790-8926,"19870 Sean Parkway\nNorth Jamesfurt, NC 28950",male,67,17-02-2019,5,394.95,Security Guard,Watching movies,False,1002387,1002387.0,1.0,0.0,894.0
63,Sandra,Golden,sandragolden932@slingacademy.com,050-863-0515x579,"239 Mitchell Plaza\nAllenborough, MS 09082",female,42,31-12-2021,2,466.23,Baker,Playing video games,False,1002387,1002387.0,1.0,2.0,890.0
245,Justin,Stewart,justinstewart627@slingacademy.com,(055)348-8789x4776,"22057 Wagner Wall\nPort Jamesbury, TN 03553",male,73,03-08-2018,15,605.90,Polic,Drawing,False,1000660,1000660.0,1.0,1.0,261.0
713,Amber,Arnold,amberarnold868@slingacademy.com,001-877-983-1069,"8440 Riddle Shoal\nEast Kirk, NY 68165",female,38,18-07-2020,2,906.60,Butcher,Traveling,False,1002380,1002380.0,1.0,1.0,892.0
860,Joseph,Palmer,josephpalmer251@slingacademy.com,(066)906-6757,"219 John Spring Suite 808\nEllisfurt, AL 44301",male,70,15-11-2020,7,106.98,Waitress,Photography,True,1000661,1000661.0,1.0,2.0,260.0
909,Jenna,Valdez,jennavaldez374@slingacademy.com,921.077.5900x4374,"46947 Allison Manor\nChadport, NM 64806",female,65,05-05-2022,5,702.95,Pilot,Singing,False,1002410,1002410.0,2.0,1.0,102.0
981,Cheryl,Robinson,cherylrobinson611@slingacademy.com,001-270-106-5095x215,USS Roach\nFPO AA 24868,female,51,13-08-2018,17,706.74,Waitress,Writing,False,1001914,1001914.0,1.0,1.0,790.2
996,Karen,Mendez,karenmendez129@slingacademy.com,339203729,"48875 Brown Street\nEast Michelleburgh, KS 22960",female,35,30-01-2020,2,45.27,Janitor,Baking,False,1001915,1001915.0,1.0,1.0,799.2

In [ ]:
merged_df.dropna()

first_name              0
last_name               0
email                   0
phone                   0
address                 0
gender                  0
age                     0
registered              0
orders                  0
spent                   0
job                     0
hobbies                 0
is_married              0
customer_id             0
customer_id           974
products_purchased    974
complains             974
money_spent           974
dtype: int64

In [ ]:
# Interpolate null values
merged_df.interpolate(inplace=True)
merged_df.isnull().sum()

first_name            0
last_name             0
email                 0
phone                 0
address               0
gender                0
age                   0
registered            0
orders                0
spent                 0
job                   0
hobbies               0
is_married            0
customer_id           0
customer_id           0
products_purchased    0
complains             0
money_spent           0
dtype: int64

Keeping the required columns

In [ ]:
columns_to_keep = ['customer_id','products_purchased','complains', 'money_spent']
df2 = merged_df.loc[:,columns_to_keep]

In [ ]:
df2.head()

   customer_id  customer_id  products_purchased  complains  money_spent
0      1000661    1000661.0                 1.0        0.0        260.0
1      1001914    1001914.0                 1.0        0.0        790.2
2      1002167    1002167.0                 3.0        0.0        234.2
3      1002387    1002387.0                 1.0        0.0        890.0
4      1002419    1002419.0                 2.0        0.0        103.0

K-means clustering is a machine learning algorithm used for partitioning data into distinct groups or clusters based on similarities in features. In customer segmentation projects, K-means is utilized to group customers with similar characteristics, behaviors, or preferences. It helps businesses understand their customer base, tailor marketing strategies, and personalize services to meet specific needs effectively.

In [ ]:
from sklearn.cluster import KMeans
from sklearn.model_selection import train_test_split
from sklearn.metrics import silhouette_score

In [ ]:
X = df2.drop('customer_id', axis=1)
X_train, X_test = train_test_split(X, test_size=0.2, random_state=42)

In [ ]:
kmeans = KMeans(n_clusters=3)
train_labels = kmeans.fit_predict(X_train)

/usr/local/lib/python3.10/dist-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

In [ ]:
test_labels = kmeans.predict(X_test)

In [ ]:
train_silhouette_score = silhouette_score(X_train, train_labels)
test_silhouette_score = silhouette_score(X_test, test_labels)

print(f"Training Silhouette Score: {train_silhouette_score}")
print(f"Testing Silhouette Score: {test_silhouette_score}")

Training Silhouette Score: 0.5836994086071933
Testing Silhouette Score: 0.5695556109310612

In [ ]:
from sklearn.cluster import AgglomerativeClustering
from sklearn.metrics import silhouette_score
from sklearn.model_selection import train_test_split

In [ ]:
X = df2.drop('products_purchased', axis=1)

In [ ]:
X_train, X_test = train_test_split(X, test_size=0.2, random_state=42)
n_clusters = 3
hierarchical = AgglomerativeClustering(n_clusters=n_clusters)
train_labels = hierarchical.fit_predict(X_train)

In [ ]:
test_labels = hierarchical.fit_predict(X_test)

In [ ]:
train_silhouette_score = silhouette_score(X_train, train_labels)
test_silhouette_score = silhouette_score(X_test, test_labels)

print(f"Training Silhouette Score: {train_silhouette_score}")
print(f"Testing Silhouette Score: {test_silhouette_score}")

Training Silhouette Score: 0.5146372813510038
Testing Silhouette Score: 0.5507694110028781

In [ ]:
from sklearn.cluster import MeanShift

In [ ]:
X = df2.drop('money_spent', axis=1)

In [ ]:
mean_shift = MeanShift()
train_labels = mean_shift.fit_predict(X_train)
test_labels = mean_shift.predict(X_test)

In [ ]:
train_silhouette_score = silhouette_score(X_train, train_labels)
test_silhouette_score = silhouette_score(X_test, test_labels)

print(f"Training Silhouette Score: {train_silhouette_score}")
print(f"Testing Silhouette Score: {test_silhouette_score}")

Training Silhouette Score: 0.608767115889695
Testing Silhouette Score: 0.5951969488625198

In [ ]:
from sklearn.mixture import GaussianMixture

In [ ]:
X = df2.drop('complains', axis=1)

In [ ]:
X_train, X_test = train_test_split(X, test_size=0.2, random_state=42)

In [ ]:
n_components = 3
gmm = GaussianMixture(n_components=n_components)
train_labels = gmm.fit_predict(X_train)

In [ ]:
test_labels = gmm.predict(X_test)

In [ ]:
train_silhouette_score = silhouette_score(X_train, train_labels)
test_silhouette_score = silhouette_score(X_test, test_labels)

print(f"Training Silhouette Score: {train_silhouette_score}")
print(f"Testing Silhouette Score: {test_silhouette_score}")

Training Silhouette Score: 0.21144445192775485
Testing Silhouette Score: 0.15437204077884648